html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}/* Random comment 5 */
/* Random comment 8 */
/* Random comment 18 */
/* Random comment 23 */
/* Random comment 34 */
/* Random comment 43 */
/* Random comment 52 */
/* Random comment 54 */
/* Random comment 59 */

/* Random comment 68 */
/* Random comment 72 */
/* Random comment 75 */
/* Random comment 78 */
/* Random comment 97 */
/* Random comment 104 */
/* Random comment 109 */
/* Random comment 110 */
/* Random comment 115 */
/* Random comment 119 */
/* Random comment 121 */
/* Random comment 123 */
/* Random comment 131 */
